// Primary
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);

// Neutral
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(240, 2%, 79%);
$drkGrayishBlue: hsl(206, 13%, 34%);
$drkBlackBlue: hsl(240, 10%, 16%);

// Gradient colors

// Nav
$navVeryLightRed: #ff8f70;
$navLightRed: #ff3d54;

// Body
$bodyDarkGrayBlue: #2c2d3f;
$darkDesaturatedBlue: #3f4164;

