@import './colors';

.header {
	background: rgb(255,61,84);
	background: linear-gradient(315deg, rgba(255,61,84,1) 21%, rgba(255,143,112,1) 67%);
	color: $white;
	font-family: 'Overpass', sans-serif;
	border-radius: 0 0 0 90px;

	&__wrapper {
		background: url('../images/bg-pattern-intro.svg');
		background-position: center;
		background-size: 200%;
		background-repeat: no-repeat;
	}
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6rem;
	padding: 0rem 1.5rem;
	justify-content: space-between;

	&__logo {
		width: 5rem;
		height: 2rem;
		background-image: url('../images/logo.svg');
		background-size: 5rem;
		background-repeat: no-repeat;
	}

	&__hamburger {
		width: 2rem;
		height: 2rem;
		background-image: url('../images/icon-hamburger.svg');
		background-size: contain; 
		background-position: center;
		background-repeat: no-repeat;
	}

	&__hamburger, &__logo {
		&:hover {
			cursor: pointer;
		}
	}

	&__dropdown {
		display: none;
	}
}

.heading {
	text-align: center;
	padding: 2.6rem;

	&__btns {
		margin: 2rem 0 4rem 0;
	}

	&__btn {
		border: none;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		font-size: .9rem;
		padding: .8rem 1.4rem;
		border-radius: 20px;

		&--white {
			background-color: $white;
			color: $lightRed;
			margin-right: .5rem;
		}

		&--outline {
			border: 1px solid $white;
			background-color: rgba(255, 255, 255,0);
			color: $white;
		}
	}
}