@media only screen and (min-width: 770px) {
	html {
		font-size: 18px;
	}

	.section {
		&__heading {
			font-size: 1.5rem;
			padding: 0rem;

			&__main {
				font-size: 2rem;
			}
		}

		&__par {
			padding: 0rem;
		}

		&__light {
			height: 700px;
			&__future {
				background: url('../images/illustration-editor-desktop.svg') no-repeat;
				background-size: contain;
				background-position: right -200px bottom;
			}

			&__wrapper {
				display: flex;
				align-items: center;
				text-align: left;

				&__headings {
					display: flex;
					flex: 1;
					flex-direction: column;
					max-width: 50ch;
				}
			}
		}
	}
}
