@media only screen and (min-width: 770px) {
	html {
		font-size: 18px;
	}

	.section {
		&__heading {
			font-size: 1.5rem;
			padding: 0rem;

			&__main {
				font-size: 2rem;
			}
		}

		&__img {
			margin: 0;
			height: 0px;
			background: none;
			background-size: contain;
		}

		&__par {
			padding: 0rem;
		}

		&__light {
			height: 60vw;
			&__future {
				background: url('../images/illustration-editor-desktop.svg') no-repeat;
				background-size: contain;
				background-position: right -17vw bottom;
			}

			&__laptop {
				background: url('../images/illustration-laptop-desktop.svg') no-repeat;
				background-size: contain;
				background-position: left -250px bottom;
			}

			&__wrapper {
				background: none;
				align-items: center;
				text-align: left;

				&__headings {
					display: flex;
					flex: 1;
					flex-direction: column;
					max-width: 50ch;

					&--right {
						margin-left: auto;
					}
				}
			}
		}

		&__dark {
			height: 300px;
			margin: 4rem 0;
		}
	}
}
