@media only screen and (min-width: 1200px) {
	html {
		font-size: 18px;
	}

	.section {
		&__heading {
			font-size: 1.5vw;
			padding: 0rem;

			&__main {
				font-size: 2rem;
				padding-top: 4rem;
			}
		}

		&__img {
			flex: 1;
			background: none;

			&__dark {
				height: 400px;
				margin-top: 0;
				margin-bottom: -20rem;
				margin-left: 2rem;
				background: url('../images/illustration-phones.svg');
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		&__par {
			padding: 0rem;
			font-size: 1.3vw;
			max-width: 40ch;
			margin: 1rem 0 2rem 0;
		}

		&__light {
			height: 70vw;
			margin-bottom: 1rem;
			&__future {
				background: url('../images/illustration-editor-desktop.svg') no-repeat;
				background-size: 800px;
				background-position: right -17vw top 70px;
			}

			&__laptop {
				background: url('../images/illustration-laptop-desktop.svg') no-repeat;
				background-size: contain;
				background-position: left -250px bottom;
			}

			&__wrapper {
				background: none;
				align-items: center;
				text-align: left;
				display: flex;
				flex-direction: row-reverse;

				&__headings {
					display: flex;
					flex: 1;
					flex-direction: column;
					padding-left: 8rem;
					margin-top: 6rem;

					&--right {
						margin-left: auto;
					}
				}
			}
		}

		&__dark {
			height: 300px;
			margin: 0 0;

			&__wrapper {
				background: none;
			}
		}
	}
}
