@import './colors';

@media only screen and (min-width: 1200px) {
	html {
		font-size: 18px;
	}

	.navbar {
		justify-content: flex-start;

		&__hamburger {
			display: none;
		}

		&__logo {
			min-width: 90px;
		}

		&__menu {
			display: flex;
			flex-direction: row;
			position: static;
			width: auto;
			background-color: transparent;
			border: none;
			box-shadow: none;
			margin: 0 0 0 2rem;

			&__dropdowns {
				display: flex;
				flex-direction: row;
				color: $white;
			}

			&__content {
				position: absolute;
				background-color: $white;

				&--productLinks {
					top: 4rem;
					left: 5rem;
				}
				&--companyLinks {
					top: 4rem;
					left: 13rem;
				}
				&--connectLinks {
					top: 4rem;
					left: 20rem;
				}
			}

			&__dropbtn {
				font-size: 1rem;

				&__icon {
					background: url('../images/icon-arrow-light.svg') no-repeat center;
				}
			}

			&__break {
				display: none;
			}
		}

		&__btns {
			flex-direction: row;
			margin-left: 20rem;
		}

		&__btn {
			font-size: 1rem;
			width: 140px;

			&--nobg {
				margin-bottom: 0;
				background-color: transparent;
				color: $white;
				&:hover {
					text-decoration: underline;
				}
			}

			&--orangebg {
				color: $veryLightRed;
				padding: 0.5rem 2rem;
				border-radius: 30px;
				background-color: $white;
				background-image: none;
				&:hover {
					background: $veryLightRed;
					color: $white;
				}
			}
		}
	}

	.heading {
		&__main {
			font-size: 2.5rem;
		}

		&__sub {
			font-size: 1.3rem;
		}
	}

	.section {
		&__heading {
			font-size: 1.5vw;
			padding: 0rem;

			&__main {
				font-size: 2rem;
				padding-top: 4rem;
			}
		}

		&__img {
			flex: 1;
			background: none;

			&__dark {
				height: 400px;
				margin-top: 0;
				margin-bottom: -20rem;
				margin-left: 6rem;
				background: url('../images/illustration-phones.svg');
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		&__par {
			padding: 0rem;
			font-size: 1.3vw;
			max-width: 40ch;
			margin: 1rem 0 2rem 0;
		}

		&__light {
			height: 900px;
			margin-bottom: 1rem;
			&__future {
				background: url('../images/illustration-editor-desktop.svg') no-repeat;
				background-size: 800px;
				background-position: right -17vw top 80px;
			}

			&__laptop {
				background: url('../images/illustration-laptop-desktop.svg') no-repeat;
				background-size: 800px;
				background-position: left -250px top 10px;
			}

			&__wrapper {
				background: none;
				align-items: center;
				text-align: left;
				display: flex;
				flex-direction: row-reverse;

				&__headings {
					display: flex;
					flex: 1;
					flex-direction: column;
					padding-left: 8rem;
					margin-top: 6rem;

					&--right {
						margin-left: auto;
						order: -1;
					}
				}
			}
		}

		&__dark {
			height: 300px;
			margin: 0 0 10rem 0;
			display: flex;
			overflow: hidden;

			&__left {
				flex: 1;
				background-image: url('../images/bg-pattern-circles.svg');
				background-size: cover;
				background-position: -200px -600px;
				background-repeat: no-repeat;
			}

			&__wrapper {
				background: none;
				margin: 3rem 8rem 0 0;
			}

			&__heading,
			&__par {
				padding: 0;
				text-align: left;
			}

			&__par {
				max-width: 50ch;
			}
		}
	}

	.footer {
		flex-direction: row;

		&__logo {
			margin: 0 0 auto 8rem;
		}

		&__links {
			display: flex;
			justify-content: space-evenly;
			flex: 2;
		}
	}
	.attribution {
		position: relative;
		top: 100px;
		right: 20px;
	}
}
