@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@import './colors';
@import './header';
@import './footer';

// Globals //

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 100%;
	font-family: 'Overpass', sans-serif;
}

li,
button {
	&:hover {
		cursor: pointer;
	}
}

// Main styles //

.main {
	text-align: center;
	margin-top: 5rem;
}

.section {
	&__heading {
		color: $veryDarkBlue;
		font-size: 1.5rem;

		&__main {
			color: $veryDarkBlue;
		}
	}

	&__img {
		&__future {
			margin: 1.5rem 0;
			height: 300px;
			background: url('../images/illustration-editor-mobile.svg') center
				no-repeat;
			background-size: contain;
		}
		&__dark {
			height: 350px;
			margin: 3rem 0 -200px 0;
			position: relative;
			z-index: 100;
			background: url('../images/illustration-phones.svg') center no-repeat;
			background-size: contain;
		}
		&__laptop {
			margin: 1.5rem 0;
			height: 300px;
			background: url('../images/illustration-laptop-mobile.svg') center
				no-repeat;
			background-size: contain;
		}
	}

	&__heading {
		padding: 0 3.5rem;
	}

	&__par {
		margin: 1rem 0 2rem 0;
		padding: 0 2.5rem;
		color: $drkGrayishBlue;
	}

	&__dark {
		height: 550px;
		background: rgb(44, 45, 63);
		background: linear-gradient(
			180deg,
			rgba(44, 45, 63, 1) 15%,
			rgba(63, 65, 100, 1) 49%
		);
		border-radius: 0 90px 0 90px;
		z-index: -100;

		&__wrapper {
			background: url('../images/bg-pattern-circles.svg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% -130px;
		}

		&__heading {
			font-weight: 600;
			font-size: 2rem;
			color: $white;
			padding-top: 13rem;
			margin-bottom: 1rem;
		}

		&__par {
			color: $grayishBlue;
			padding: 0 3rem;
			font-size: 0.9rem;
		}
	}
}

// Media Queries //

.attribution {
	margin-top: 2rem;
	font-size: 0.8rem;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
