@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
.header {
  background: #ff3d54;
  background: linear-gradient(315deg, #ff3d54 21%, #ff8f70 67%);
  color: white;
  font-family: 'Overpass', sans-serif;
  border-radius: 0 0 0 90px;
  overflow: hidden;
}

.header__wrapper {
  background: url("../images/bg-pattern-intro.svg");
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  padding: 0rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  width: 5rem;
  height: 2rem;
  background-image: url("../images/logo.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
}

.navbar__hamburger {
  width: 2rem;
  height: 2rem;
  background-image: url("../images/icon-hamburger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__hamburger:hover, .navbar__logo:hover {
  cursor: pointer;
}

.navbar__menu {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  width: 300px;
  top: 5rem;
  left: 0;
  right: 0;
  background-color: white;
  color: #1f3f5b;
  font-weight: 600;
  padding: 0rem 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 9px 11px 12px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 9px 11px 12px -3px rgba(0, 0, 0, 0.25);
}

.navbar__menu__dropbtn {
  list-style-type: none;
  font-size: 1.4rem;
  margin: 2rem 1rem;
}

.navbar__menu__dropbtn__icon {
  width: 1rem;
  height: 1rem;
  background: url("../images/icon-arrow-dark.svg") no-repeat center;
}

.navbar__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu__dropdowns {
  width: 100%;
}

.navbar__menu__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1rem;
  list-style: none;
  line-height: 3rem;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: #1f3f5b;
  font-size: 1.1rem;
}

.navbar__menu__break {
  width: 100%;
  border: 1px solid #c8c8cb;
}

.navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.navbar__btn {
  border: none;
  background-color: white;
  font-size: 1.2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.navbar__btn--nobg {
  margin-bottom: 1rem;
  color: #1f3f5b;
}

.navbar__btn--nobg:hover {
  text-decoration: underline;
}

.navbar__btn--orangebg {
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  background: #ff3d54;
  background: linear-gradient(315deg, #ff3d54 21%, #ff8f70 67%);
}

.navbar__btn--orangebg:hover {
  background: #ff7a85;
}

.heading {
  text-align: center;
  padding: 2.6rem;
}

.heading__btns {
  margin: 2rem 0 4rem 0;
}

.heading__btn {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.8rem 1.4rem;
  border-radius: 20px;
}

.heading__btn--white {
  background-color: white;
  color: #ff525d;
  margin-bottom: 1rem;
}

.heading__btn--white:hover {
  background-color: #ff7a85;
  color: white;
}

.heading__btn--outline {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.heading__btn--outline:hover {
  background-color: white;
  color: #ff525d;
}

.footer {
  background-color: #25252d;
  border-radius: 0 90px 0 0;
  color: white;
  padding: 2rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__logo {
  margin: 2rem auto 4rem auto;
  width: 5rem;
  height: 2rem;
  background-image: url("../images/logo.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
}

.footer__links__title {
  margin: 2rem 0 1rem 0;
}

.footer__links__list {
  list-style: none;
  color: #c8c8cb;
}

.footer__links__list:hover {
  cursor: pointer;
}

.footer__links__item {
  margin-bottom: .5rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Overpass', sans-serif;
}

li:hover,
button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  text-align: center;
  margin-top: 5rem;
}

.section__heading {
  color: #1f3f5b;
  font-size: 1.5rem;
}

.section__heading__main {
  color: #1f3f5b;
}

.section__img__future {
  margin: 1.5rem 0;
  height: 300px;
  background: url("../images/illustration-editor-mobile.svg") center no-repeat;
  background-size: contain;
}

.section__img__dark {
  height: 350px;
  margin: 3rem 0 -200px 0;
  position: relative;
  z-index: 100;
  background: url("../images/illustration-phones.svg") center no-repeat;
  background-size: contain;
}

.section__img__laptop {
  margin: 1.5rem 0;
  height: 300px;
  background: url("../images/illustration-laptop-mobile.svg") center no-repeat;
  background-size: contain;
}

.section__par {
  margin: 1rem auto 2rem auto;
  padding: 0 2.5rem;
  color: #4b5862;
  max-width: 60ch;
}

.section__dark {
  height: 550px;
  background: #2c2d3f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #2c2d3f), color-stop(49%, #3f4164));
  background: linear-gradient(180deg, #2c2d3f 15%, #3f4164 49%);
  border-radius: 0 90px 0 90px;
  z-index: -100;
}

.section__dark__wrapper {
  background: url("../images/bg-pattern-circles.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -130px;
}

.section__dark__heading {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  padding-top: 13rem;
  margin-bottom: 1rem;
}

.section__dark__par {
  color: #c8c8cb;
  padding: 0 3rem;
  font-size: 0.9rem;
  max-width: 60ch;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__logo {
    min-width: 90px;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 0 0 2rem;
  }
  .navbar__menu__dropdowns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: white;
  }
  .navbar__menu__content {
    position: absolute;
    background-color: white;
  }
  .navbar__menu__content--productLinks {
    top: 4rem;
    left: 5rem;
  }
  .navbar__menu__content--companyLinks {
    top: 4rem;
    left: 13rem;
  }
  .navbar__menu__content--connectLinks {
    top: 4rem;
    left: 20rem;
  }
  .navbar__menu__dropbtn {
    font-size: 1rem;
  }
  .navbar__menu__dropbtn__icon {
    background: url("../images/icon-arrow-light.svg") no-repeat center;
  }
  .navbar__menu__break {
    display: none;
  }
  .navbar__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 20rem;
  }
  .navbar__btn {
    font-size: 1rem;
    width: 140px;
  }
  .navbar__btn--nobg {
    margin-bottom: 0;
    background-color: transparent;
    color: white;
  }
  .navbar__btn--nobg:hover {
    text-decoration: underline;
  }
  .navbar__btn--orangebg {
    color: #ff7a85;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    background-color: white;
    background-image: none;
  }
  .navbar__btn--orangebg:hover {
    background: #ff7a85;
    color: white;
  }
  .heading__main {
    font-size: 2.5rem;
  }
  .heading__sub {
    font-size: 1.3rem;
  }
  .section__heading {
    font-size: 1.5vw;
    padding: 0rem;
  }
  .section__heading__main {
    font-size: 2rem;
    padding-top: 4rem;
  }
  .section__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: none;
  }
  .section__img__dark {
    height: 400px;
    margin-top: 0;
    margin-bottom: -20rem;
    margin-left: 6rem;
    background: url("../images/illustration-phones.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section__par {
    padding: 0rem;
    font-size: 1.3vw;
    max-width: 40ch;
    margin: 1rem 0 2rem 0;
  }
  .section__light {
    height: 900px;
    margin-bottom: 1rem;
  }
  .section__light__future {
    background: url("../images/illustration-editor-desktop.svg") no-repeat;
    background-size: 800px;
    background-position: right -17vw top 80px;
  }
  .section__light__laptop {
    background: url("../images/illustration-laptop-desktop.svg") no-repeat;
    background-size: 800px;
    background-position: left -250px top 10px;
  }
  .section__light__wrapper {
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section__light__wrapper__headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 8rem;
    margin-top: 6rem;
  }
  .section__light__wrapper__headings--right {
    margin-left: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .section__dark {
    height: 300px;
    margin: 0 0 10rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .section__dark__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-image: url("../images/bg-pattern-circles.svg");
    background-size: cover;
    background-position: -200px -600px;
    background-repeat: no-repeat;
  }
  .section__dark__wrapper {
    background: none;
    margin: 3rem 8rem 0 0;
  }
  .section__dark__heading, .section__dark__par {
    padding: 0;
    text-align: left;
  }
  .section__dark__par {
    max-width: 50ch;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__logo {
    margin: 0 0 auto 8rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .attribution {
    position: relative;
    top: 100px;
    right: 20px;
  }
}

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */